extends ../layouts/index.pug

block content
  div.row.mt-5.p-5.shadow.bg-white
    div.col-12.col-md-8.order-2.order-md-1
      div.lead.fw-normal.mb-4= task.description
    div.col-12.col-md-4.border-start.px-3.order-1.order-md-2.mb-3.mb-md-0
      div.d-flex.flex-wrap.mb-3
        span.text-muted.me-2 Имя
        span= user.name
      div.d-flex.flex-wrap.mb-3
        span.text-muted.me-2 Емейл
        span= user.email
      div.d-flex.flex-wrap
        a.btn.btn-primary.me-1(href=route('editUser', { id: user.id })) Редактировать
        form(action=`${route('users', { id: user.id })}?_method=DELETE`, method="post")
          input(type='submit', value="Удалить", class="btn btn-danger")
  